*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{ 
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
body{
    width: 100%;
}
main{
    width: 80%;
    margin: 1vh auto;
}
.first-row{
    height: 50%;
}
.col{
    width: 30%; 
    display: inline-block;
    position: relative;
    margin-left: 15px;
}
.col:first-child{
    margin: 0;
}
.img{
    height: 100%;
}

#img1{
    max-width: 100%;
    left: 0;
    top: 0;
}

#img1-hover{
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display:none;
    
}
.img:hover #img1-hover {
    display: block;
}
.heart{
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    position: absolute;
    top: 3vh;
    right: 0;
    z-index: 3;
    text-align: center;
    padding-top: 2%;
}
.sale{
    width: 35px;
    height: 25px;
    color: white;
    background-color: red;
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 2vh;
    font-size: 0.7em;
    padding: 2%;
    font-weight: 500;
    text-align: center;
}
.eco{
    width: 70px;
    height: 25px;
    color: white;
    background-color: #00875a;
    position: absolute;
    z-index: 3;
    left: 40px;
    bottom: 2vh;
    font-size: 0.7em;
    padding: 2%;
    font-weight: 500;
    text-align: center;
}

.caption{
    position: absolute;
    left: 0;
    top: 380px;
}
li{
    line-height: 1.3em;
    list-style-type: none;
}
.brand{
    font-size: 0.7em;
}
.product{
    font-size: 1em;
    font-weight: 700;
}
.sale-price{
    font-size: 0.9em;
    color: red; 
    font-weight: 500;
  
}
